.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', serif;
    padding: var(--smallMargin);
}

.header {
    margin: var(--largeMargin) 0;
    text-align: center;
}

.header__illustration {
    width: 10rem;
    margin: var(--smallMargin) 0;
}

.header__title {
    font-size: var(--largeFont);
}

.hidden {
    display: none;
}
