.table {
    min-width: 40%;
    margin: var(--largeMargin) 0;
    border-radius: 0.5rem;
}

.table, .table__header, .table__data {
    border: 1px solid var(--grey);
    border-collapse: collapse;
}

.table__header, .table__data {
    text-align: center;
    padding: var(--mediumMargin) var(--largeMargin);
    font-size: var(--smallFont);
}

.table__header {
    background: var(--lightGrey);
}

.error {
    font-size: var(--smallFont);
}
